patches/
!patches/.keep_dir
_Deparsed_XSubs.pm
*~
*.old
*.bak
.idea/perl5local.xml
check_*.md
talk*.md

# build directories
cmake-*/

# Libraries for development purposes only
libgit*/

# Keep AI test files lokal
.aiignore
AGENTS.md
.opencode/

# Test directories for agents to play with. Fill manually
elogind/
systemd/
systemd*.log
